@font-face{
	font-family: 'kaushan';
	src: url('kaushan-script/KaushanScript-Regular.otf') format('opentype');
}

*{
	word-wrap: break-word;
}

a{
	color: black;
}

a:hover{
	color: blue;
}

a:visited{
	color: #5b5b5b;
}


h1{
	text-align: center;
	text-shadow: 4px 2px 8px #5a5a5a;
	font-size: 3em;
	font-family: kaushan;
}

h2{
	color: #4c4c4c;
	text-shadow: 2px 2px 6px darkgrey;
	margin-left: 5px;
	font-size: 2.1em;
	text-decoration: underline;
}

h3{
	color: red;
}

h3 a{
	color: red;
}

h3 a:hover{
	color: blue;
}

#page{
	color: #053659;
	width: 98%;
	font-family: Arial;
}

#identite{
	font-family: Impact;
	font-style: italic;
	float: right;	
	border: 1px solid purple;
	background-color: lightgrey;
	width: 25%;
	min-width: 200px;
	max-width: 300px;
	margin-right: 1%;
	padding-top: 0px;
	padding-left: 5px;
	border-radius: 10px;
	box-shadow: 6px 6px 8px 0px black;
}

#photo{
	float: right;
	border-radius: 5px;
	padding-top: 3px;
	padding-right: 3px;
	width: 130px;
	height: 130px;
	border-radius: 10px;
}

#photo:hover{
	content: url('images/mini2.JPG')
}

#arrowdown{
	display: none;
}

#identite:hover{
	box-shadow: 6px 6px 10px 0px red;
}

#identite h2{
	text-decoration: none;
	color: purple;
	margin-bottom: 1px;
	margin-top: 28px;
}

#identite p{
	margin-right: 15px;
}

#formation{
	width: 30%;
	min-width: 200px;
	float: left; 
	margin-left: 2%;
	padding-left: 12px;
}

#experience{
	width: 30%;
	min-width: 200px;
	float: left;
	margin-left: 2%;
	padding-left: 12px;
}

@media screen and (max-width: 900px){
	
	#identite{
		width: 96%;
		min-width: 400px;
		max-width: 720px;
		height: 250px;
		margin-left: 6px;
		padding-left: 8px;
		overflow: hidden;
	}

	#identite:hover{
		height: 100%;
	}

	#arrowdown{
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 20px;
	}

	#identite:hover ~ #arrowdown{
		content: url('images/arrowup.png')
	}

	#experience{
		width: 30%;
		margin-left: 2%;
		border-left: 1px solid lightgrey;
		padding-left: 12px;
		overflow: auto;
	}

	#formation{
		width: 30%;
		margin-left: 2%;
		border-left: 1px solid lightgrey;
		padding-left: 12px;
		overflow: auto;
	}
}

@media screen and (max-width: 500px){
	#identite{
		width: 96%;
		min-width: 300px;
	}
}

.name{
	font-size: 20px;
}
